body{
    font-family: "Arial";
    font-weight: bold;
    padding: 0;
    text-align: center;
    margin: 0;
    padding: 10px ;
}
.container{
    text-align:justify;
    border:solid 1px royalblue;
    border-radius: 20px;
    width: 70%;
    margin : 0 auto;
 
}
.post{
    margin: 50px;
    padding: 10;
}
h1{
    color: gray;
}

p{
    color: steelblue;
}

