body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: rgb(80, 82, 85);

}
.hyperblog{
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    height: 100%;
    padding-top: 4px;
}

.container{
    width: 70%;
    height: 100%;
    grid-template-rows: auto 1fr auto;
    display: grid;
    border: solid 1px;
    background-color: white;
    border-radius: 20px; 
    box-shadow: 0px 0px 10px 0px #333 inset;
    justify-items: center;

}
.header{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(45, 90, 185);
    color: white;
    align-items: center;
    border-radius: 20px 20px 0 0;
    border: solid 1px black;
    box-shadow: 0px 0px 10px 0px #333 inset;
}

.logo{
    padding-left: 20px;
    width: 50px;
    height: 50px;
}

.header h3{
    padding: 12px;
    margin: 0;font-size: large;
}

.header h5{
    padding: 12px;
}

.post{
    padding: 24px ;
    width: 100%;
}

.post h1{
    padding: 0 24px 0 24px;
}

.post p {
    padding: 8px 52px 8px 52px;
    text-align: justify;
}

.imagen-container{
    width: 100%;
}

.footer{
    background-color: #333;
    color: white;
    width: 100%;
    text-align: center;
    border-radius: 0 0 20px 20px;
    font-weight: bold;
}
